.heroSection{
    display: flex;
    justify-content:space-between;
    padding-top: 90px;

}
.heroSection> div > h1{
    color: #4d4d4d;
    font-weight: bolder;
    font-size: 45px;

}

.heroText{
    max-width: 50%;
}

.heroImage{
    max-width: 50%;
    height: auto;
}
@media only screen and (max-width: 796px) {
    .heroSection{
        margin-top: -90px;
    }
    .heroSection > img {
        display: none;
    }
}